.profileForm {
  width: 80%;
  height: fit-content;
  margin: 40px auto;
  border: 1px solid black;
}

.inp {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  text-indent: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.3);
  outline: none;
  transition: all 0.3s ease;
  background-color: #caf0f8;
}
